// Import page-specific CSS files here.
@import "home";
@import "show";
@import "signin_signup";

.cardscontainer{
  overflow: hidden;
}

.cardscontainer a {
  text-decoration: none;
  color: black;
}
