.showcontainer{
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;

}
.showuserimage img{
  position: absolute;
  margin-left: 145px;
  margin-top: -30px;
}
.showimagebien img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

// .showville{
//   margin-top: 15px;
//   margin-left: 80px;
// }

.showinfos{
  margin-top: 15px;
  margin-left: 80px;

}

.bookform{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
