<div class="banner">
  <div class="container">
    <h1>La carte des biens des membres de <strong>l'académie des investisseurs rentables!</strong></h1>
     <%= link_to "Voir la carte", biens_path, class: "btn-yours" %>
    <p>Sur cette carte découvrez les biens des membres de l'académie des investisseurs rentables, organisez des rencontres avec les membres de votre ville ou découvrez les renta que des membres réalisent dans les secteurs qui vous intéressent.</p>
  </div>
</div>
