<div class="banner">
  <div class="container">
    <h1>La carte des biens des membres de <strong>l'académie des investisseurs rentables!</strong></h1>
    <br>
    <br>
    <span>
      <%= link_to "Voir la carte", biens_path, class: "btn-yours" %>
    </span>
     <br>
     <br>
    <p>Découvrez les biens dans lesquelles des membres de l'académie ont investi ainsi que leur rentabilité.</p>
  </div>
</div>
